# Editor backup files etc
*~
\#*

# Autofoo
.deps
.libs
.dirstamp
.clang_complete
.cxx_tags
.yavide_proj
.yavide_session
.vscode
Makefile
Makefile.in
ndcodfwebwsd.spec
ndcodfwebwsd.xml
ndcodfweb.pc
aclocal.m4
autom4te.cache
config.h
config.h.in
ios/config.h
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4
common/support-public-key.hpp

# Test stuff
systemplate
test-driver
jails
cache
test/fakesockettest
test/data/hello-world.odt
test/data/hello-world.ods
test/data/hello-world.odp

*.o
*.exe
cscope*
*.orig
*.log.*.gz
*.lo
*.la

# loleaflet
loleaflet/dist
loleaflet/node_modules
loleaflet/npm-shrinkwrap.json

connect
lokitclient
ndcodfwebwsd
ndcodfwebforkit
ndcodfwebmount
ndcodfwebmap
ndcodfwebconvert
ndcodfwebsocketdump
ndcodfwebstress
ndcodfwebconfig
loolforkit-nocaps
loadtest
unittest
ndcodfwebwsd_fuzzer
clientnb

# make tags
tags
test/tags
TAGS
test/TAGS

docker/instdir
docker/builddir

Mobile/Mobile/Info.plist

# symlinks created by configure for the iOS app Xcode project
lobuilddir-symlink
pocoinclude-symlink
pocolib-symlink
ICU.dat
Mobile/Mobile/Assets.xcassets/AppIcon.appiconset
debian/ndcodfweb.postinst
ndcodfweb
ndcodfweb_fuzzer
ndcodfweb.spec
ndcodfweb.xml

# debian package
debian/.debhelper/
debian/files
debian/ndcodfweb-dev.debhelper.log
debian/ndcodfweb-dev.substvars
debian/ndcodfweb-dev/
debian/ndcodfweb.debhelper.log
debian/ndcodfweb.postinst.debhelper
debian/ndcodfweb.postrm.debhelper
debian/ndcodfweb.prerm.debhelper
debian/ndcodfweb.substvars
debian/tmp/
loleaflet/build/dist/

